<div class="loginPage well">

  <form>
    <div *ngIf="anyError()">{{loginError}}</div>
    <label for="email">Email:</label>
    <input type="text" name="email" #inputEmail class="form-control">
    <label for="password">Password:</label>
    <input type="password" name="password" #inputPassword class="form-control">
    <br>
    <button type="button" name="button" class="btn btn-block eat-up-btn" (click)="logIn(inputEmail.value,inputPassword.value);inputEmail.value='';inputPassword.value='';">Eat Up</button>
  </form>
  <hr>
  <button type="text" name="google" (click)="googleLogIn()" class="btn btn-block google-button">Sign in with Google
  </button>
  <hr>
  <a routerLink="signup">
    <button type="text" name="signup" class="btn btn-block signup">Need an Account?</button>
  </a>
</div>
