<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Eat Up</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="signup">New Account</a></li>
      <li><a routerLink="login">Sign In</a></li>
      <li><a routerLink="results">Results</a></li>
      <li><a routerLink="edit-profile">Edit Profile</a></li>
      <li><a routerLink="dashboard">Dashboard</a></li>
      <li><a routerLink="search">Search</a></li>
    </ul>
  </div>
</nav>

  <div class="jumbotron">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
