@import url('https://fonts.googleapis.com/css?family=Libre+Franklin|Poiret+One');

a {
  color: black;
}

.container-fluid {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  font-size: 20px;
  font-family: 'Poiret One', cursive;
}

.navbar-brand {
  font-size: 30px;
}
