<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Eat Up</a>
    </div>
    <div *ngIf="!isLoggedIn">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a routerLink="signup">New Account</a>
        </li>
        <li>
          <a routerLink="login">Sign In</a>
        </li>
      </ul>
    </div>
    <div *ngIf="isLoggedIn">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a routerLink="dashboard">Dashboard</a>
        </li>
        <li>
          <a routerLink="search">Search</a>
        </li>
        <li>
          <a (click)="logout()">Log out</a>
        </li>
        <li>
          <a>{{userName}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
