h1 {
  text-align: center;
  font-size: 100px;
  margin-top: 33%;
}
.welcomePage {
  font-family: 'Poiret One', cursive;
  /*color: white;*/
}
/*
.my-container{
    background-image: url('res.jpg');
    background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     background-attachment: fixed;
 }*/
