<div class="signUpPage">
  <form>
    <label for="firstname">First Name:</label>
    <input type="text" class="form-control" #newFirstName required>

    <label for="lastname">Last Name:</label>
    <input type="text" class="form-control" #newLastName required>

    <div *ngIf = "error">{{error}}</div>
    <label for="email">Email:</label>
    <input type="email" class="form-control" #newEmail required>

    <label for="password">Password:</label>
    <input type="password" class="form-control" #newPassword required>

    <button (click)="submitSignUpForm(newFirstName.value, newLastName.value, newEmail.value, newPassword.value);newFirstName.value=''; newLastName.value=''; newEmail.value=''; newPassword.value='';"
      type="button" name="button">Submit</button>
  </form>
</div>
