.btn {
  background-color: #eee;
  font-size: 18px;
}

h1 {
  text-align: center;
  font-size: 50px;
}

h2 {
  text-align: center;
   margin-bottom: 20px;
   font-weight: bold;
}

#imageButton {
   margin-top: 20px;
   margin-left: 10%;
 }

.dashboardPage {
  font-family: 'Poiret One', cursive;
}

.favoritesList {
 text-align: center;
}

.leftSide {
 margin-top: 12%;
 float: right;
}

.save {
 margin: 10px;
}

img {
 border: 10px solid #eee;
}
